<p id="notice"><%= notice %></p>

<p>
  <strong>Techid:</strong>
  <%= @hatemani.techid %>
</p>

<p>
  <strong>Colourid:</strong>
  <%= @hatemani.colourid %>
</p>

<%= link_to 'Edit', edit_hatemani_path(@hatemani) %> |
<%= link_to 'Back', hatemanis_path %>
