<p id="notice"><%= notice %></p>

<p>
  <strong>Numcol:</strong>
  <%= @manicure.numcol %>
</p>

<p>
  <strong>Numaccents:</strong>
  <%= @manicure.numaccents %>
</p>

<p>
  <strong>Techid:</strong>
  <%= @manicure.techid %>
</p>

<p>
  <strong>Colourid:</strong>
  <%= @manicure.colourid %>
</p>

<p>
  <strong>Accents:</strong>
  <%= @manicure.accents %>
</p>

<%= link_to 'Edit', edit_manicure_path(@manicure) %> |
<%= link_to 'Back', manicures_path %>
